<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/boxicons.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap-vue.css" />
    <script src="~/js/vue.js"></script>
    <script src="~/js/bootstrap-vue.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/portal-vue.umd.min.js"></script>

    <style>
        body {
            margin: 0px;
        }

        #left-menu-button {
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: 0;
            padding: 0px;
            margin-right: 10px;
        }

        #main-div {
            display: grid;
            margin: 0px;
            grid-template-rows: 50px auto;
            grid-template-columns: auto;
        }

        #top-menu {
            width: 100%;
            background-color: lightblue;
            display: flex;
            align-items: center;
            position: fixed;
        }

        #auth-div .b-button {
            margin-left: 5px;
            margin-right: 5px;
        }

        #greeting {
            margin-right: 10px;
            display: flex;
        }

        #main-content {
            margin: 5px;
            grid-row-start: 2
        }

        .tab-div {
            display: flex;
            flex-direction: column;
        }

        .clickable-text {
            text-decoration: underline;
            cursor: pointer;
        }

        .menu-elem-button {
            background-color: transparent;
            color: black;
            text-align: left;
            border: 0 !important;
            width: 100%;
        }

        .menu-aspirant-elem {
            margin-left: 20px;
        }

        .tab-div h1 {
            text-align: center
        }

        button.close {
            padding: 0;
            background-color: transparent;
            border: 0
        }

        .modal-dialog footer{
            display: none;
        }

        .sr-only{
            display: none;
        }
    </style>
</head>
<body>
    <div id="body-div">
        <div id="main-div">
            <div id="top-menu">
                <b-sidebar v-model:visible="leftMenu" title="Меню" backdrop shadow>
                    <b-button class="menu-elem-button" @@click="switchTab(2)">Список зарегистрированных аспирантов</b-button>
                    <b-button class="menu-elem-button menu-aspirant-elem" @@click="switchTab(3)">Данные о физическом лице</b-button>
                    <b-button class="menu-elem-button menu-aspirant-elem" @@click="switchTab(4)">Данные о вступительных экзаменах</b-button>
                    <b-button class="menu-elem-button menu-aspirant-elem" @@click="switchTab(5)">Данные об аспиранте</b-button>
                    <b-button class="menu-elem-button menu-aspirant-elem" @@click="switchTab(6)">Экзамены/зачёты</b-button>
                    <b-button class="menu-elem-button menu-aspirant-elem" @@click="switchTab(7)">Список преподавателей</b-button>
                </b-sidebar>
                <b-modal header="Вход" id="login-form" v-model="loginForm" centered>
                    <template #modal-title>
                        Вход
                    </template>
                    <b-form-input id="loginLogin" v-model="loginLogin" placeholder="Email или имя пользователя"></b-form-input>
                    <b-form-input id="passwordLogin" type="password" v-model="passwordLogin" placeholder="Пароль"></b-form-input>
                    <b-button style="margin-top: 10px; width: 100%" @@click="login" :disabled="loginAttempt">
                        <i v-if="loginAttempt" class="bx bx-loader-alt bx-spin"></i>Вход
                    </b-button>
                </b-modal>
                <b-button id="left-menu-button"
                            @@click="leftMenu = true"
                            @Html.Raw(!User.Identity.IsAuthenticated || !User.IsInRole("admin") || Context.Request.Path != "/" ? "disabled" : "")>
                    <i class="bx bx-menu bx-md"></i>
                </b-button>
                <h2 style="cursor: default; user-select: none;">Аспирант</h2>
                <div style="flex-grow: 1"></div>
                <div id="auth-div" :style="{display: unauth ? '' : 'none'}">
                    <b-button @@click="loginForm = true">Вход</b-button>
                </div>
                <div id="greeting" :style="{display: !unauth ? '' : 'none'}">
                    <b-button @@click="logout">Выход</b-button>
                </div>
            </div>

            <div id="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        window.topApp = new Vue({
            el: '#top-menu',
            data: {
                leftMenu: false,
                unauth: @Html.Raw(User.Identity.IsAuthenticated ? "false" : "true"),
                isAdmin: @Html.Raw(User.IsInRole("admin") ? "true" : "false"),
                loginForm: false,
                registrationForm: false,

                loginLogin: '',
                passwordLogin: '',
                loginAttempt: false,

                emailRegistration: '',
                loginRegistration: '',
                passwordRegistration: '',
                passwordAgainRegistration: '',
            },
            methods: {
                login() {
                    this.loginAttempt = true;
                    fetch('/api/Account/Login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({
                            login: this.loginLogin,
                            password: this.passwordLogin
                        })
                    }).then(res => {
                        if (res.ok)
                            window.location = window.location;
                        else
                            loginAttempt = false;
                    });
                },
                logout() {
                    fetch('/api/Account/Logout', {
                        method: 'POST'
                    }).then(res => {
                        if (res.ok)
                            window.location = '/';
                    });
                },
                switchTab(id) {
                    window.bodyApp.activeTab = id;
                    this.leftMenu = false;
                },
            }
        });
    </script>
</body>
</html>
